<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
	<mvc:annotation-driven />
	<mvc:resources location="/resources/" mapping="/resources/**" />
<!-- 	<mvc:interceptors> -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/admin/**"/> -->
<!-- 			<bean class="org.primejava.cms.web.AuthInterceptor"/> -->
<!-- 		</mvc:interceptor> -->
<!-- 	</mvc:interceptors> -->
	<!-- 自动扫描且只扫描@Controller,这里对应了url和方法 -->
	<context:component-scan base-package="org.primejava"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order">  
	        <value>1</value>  
	    </property>  
		<property name="prefix" value="/content/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>